
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>--------</h3>

<h2> @Html.ActionLink("Users", "Index", "RegisterUsers")</h2>
    <br />
<h3>--------</h3>
   <h2> @Html.ActionLink("STORE", "Index", "StoreManager")</h2>
<h3>--------</h3>


